<?xml version="1.0"?>
<ruleset
    name="PHPCS Coding Standards for doctrine/coding-standards"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <description>Check the code of the sniffs in doctrine/coding-standards.</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <rule ref="Doctrine"/>

    <file>lib</file>
    <file>tests</file>

    <exclude-pattern>tests/Doctrine/Tests/CodingStandard/data/*</exclude-pattern>
    <exclude-pattern>tests/input/*</exclude-pattern>
    <!-- TODO: test as well, but ignore non-fixable errors -->
    <exclude-pattern>tests/fixed/*</exclude-pattern>
</ruleset>
